*{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #f1ede1;
}


.nav-item a{
    color: #bc1c22;
}

.nav-item a:hover{
    color: #bc1c22;
    text-decoration: overline;
}

#home{
    color: #bc1c22;
    font-weight: 700;
}

#boton-perfil{
    background-color: #bc1c22;
}

#boton-perfil:hover{
    background-color: #a41419;
    text-decoration: none;
}

#app{
    color: #a41419; 
}

.boton-cv{
    background-color: #bc1c22;
    color: white;
    border: none;
}

.boton-cv:hover{
    background-color: #a41419;
    color: white;
}

.caja-habilidades{
    background-color: #a41419;
    color: white;
    text-align: justify;
}

.btn-proyecto{
    background-color: #bc1c22;
    color: white;
    border: none;
}
.btn-proyecto a{
    text-decoration: none;
    color: white;
}

.btn-proyecto:hover{
    background-color: #a41419;
    color: white;
    border: none;
}


.card .card-title{
    color: #bc1c22;
}

.card{
    border: none;
}

#contacto{
    background-color: #bc1c22;
    color: white;
}

.btn-contacto{
    border: none;
    background-color: #f1ede1;
    color: #a41419;
    font-weight: 500;
}

.btn-contacto:hover{
    background-color: #a41419;
    color: white;
    font-weight: 500;
}

footer li a{
    color: #a41419;
}

footer p a{
    text-decoration: none;
    color: #a41419;
    font-weight: 500;
}